:root {
	--animate-duration: 300ms;
}

body,
p {
	color: #4d5055;
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #24262a;
	font-weight: 700;
	font-family: "Poppins";
}

li {
	list-style: none;
	margin-bottom: .4em;
}

.badge {
	font-size: 12px !important;
	padding: 4px 12px !important;
}

.red-color {
	background: #eb4432;
	color: #FFF;
}

.yellow-color {
	background: #f7df1e;
	color: #24262a;
}

.sea-blue-color {
	background: #00758F;
	color: #FFF;
}

a {
	color: #4d5055;
	text-decoration: none;
}

a:hover {
	color: #4d5055;
	text-decoration: none;
}

.font-secondary {
	font-family: 'Pacifico', cursive;
}

.fw-normal {
	font-weight: 400;
}

.inner-icon {
	position: absolute;
	z-index: 104;
	background: #4DB7FE;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	transition: .3s;
}

.carousel-indicators button {
	width: 6px !important;
	height: 6px !important;
	border-radius: 50%;
}

.bg-gray {
	background-color: #f7f9fb;
}

.btn-primary {
	background-color: #1E84EC !important;
	font-weight: 600 !important;
}

.btn-main {
	display: inline-block;
	padding: 10px 40px;
	border: 1px solid #1E84EC;
	border-radius: 40px;
	background-color: #1E84EC;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-main:hover {
	background-color: transparent;
	color: #FFF !important;
	border: 1px solid #FFF;
	text-decoration: none;
}

.page-header h2 {
	margin-bottom: 15px;
	text-align: center;
	font-weight: 700;
}

.page-header p {
	margin-bottom: 30px;
	text-align: center;
}

.fa-stack {
	width: 2em;
	font-size: 1.5rem;
}

.fa-stack .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.fa-stack .fa-stack-2x {
	color: #1E84EC;
	transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-2x {
	transform: scale(1.1);
}

.color-main {
	color: #1E84EC !important;
}

.referse {
	flex-direction: row-reverse;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.navbar .container {
	justify-content: end;
}

.navbar .logo-image img {
	width: 118px;
	height: 36px;
}

.navbar .logo-text {
	display: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0 1rem 0 1rem;
	background-color: #24262a;
	clip-path: circle(0% at 92% 2%);
	transition: all .7s ease-in-out;
}

.offcanvas-collapse.open {
	clip-path: circle(125% at 90% 13%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #9c9ead;
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #24262a;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #24262a;
	color: #9c9ead;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #505050;
}

.navbar .navbar-toggler {
	padding: .5em;
	border: none;
	font-size: .9rem;
	background-color: #24262a;
	;
	border-radius: 50%;
	z-index: 1001;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
}


/******************/
/*     Header     */
/******************/
.header {
	padding: 120px 0 80px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('../images/headerme.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
	background-position: right;
}

.header .text-container {
	padding: 0 20px;
}

.header p {
	font-family: "Poppins";
	font-weight: 400;
}

.header .title {
	color: #FFF;
	font-weight: 500;
	font-size: 24px;
}

.header .h1-large {
	font-size: 32px;
	color: #ffffff;
}


/*****************/
/*     About     */
/*****************/
.about {
	padding: 100px 0 200px 0;
}

.about .text-container {
	margin-top: 25px;
	text-align: center;
}

.about .img img {
	border-radius: 5px;
}

.icons-container img {
	width: 40px;
	margin-left: 10px;
}

.skills {
	background: #FFF;
	border-radius: .8em;
	border: 1px solid #f7f9fb;
	padding: 2em;
	margin-top: -200px;
	text-align: center;
}


/********************/
/*     Projects     */
/********************/
.projects {
	padding: 100px 0;
	overflow-x: hidden;
	text-align: center;
}

.projects .project-container {
	margin-bottom: 80px;
}

.projects .image-carousel-container {
	margin-bottom: 30px;
}

.projects .description p {
	font-size: 15px;
}

.projects .carousel-control-prev,
.carousel-control-next {
	background: transparent;
	border: 0;
}

.project-container img {
	border-radius: .5em;
	cursor: pointer;
}

.modal-image,
.project-image-modal {
	border-radius: 10px;
	overflow: hidden;
}

.freelance .container-fluid {
	border-radius: 20px;
}

.freelance h4 {
	line-height: 1.5;
	font-weight: 600;
}

.github-project a {
	transition: .3s;
}

.github-project a:hover {
	transform: translateY(-5px);
}

/*******************/
/*     Contact     */
/*******************/
.freelance {
	padding: 100px 0;
	text-align: center;
}

.freelance a {
	transition: .3s;
}

.freelance a:hover {
	transform: translateY(5px);
}


/*******************/
/*     Contact     */
/*******************/
.contact {
	padding: 0 0 100px 0;
	text-align: center;
}

.contact-info {
	display: flex;
	flex-direction: column;
}

.contact-info a {
	font-weight: 600;
	margin: 5px auto;
	color: #4d5055 !important;
}

.contact-info {
	margin: auto 50px;
}

.contact-detail {
	transition: .3s;
	padding: 16px;
	border-radius: 10px;
	box-shadow: 0px 20px 60px rgb(42 61 126 / 8%);
}

.contact-detail:hover {
	transform: translateY(-5px);
}

.contact-detail i {
	position: relative;
}


/******************/
/*     Footer     */
/******************/
footer {
	padding: 30px 0;
	background-color: #24262a;
	text-align: center;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #3a424d url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #1E84EC;
}

/*************************/
/*     Media Queries     */
/*************************/

/* Min-width 768px */
@media (min-width: 768px) {

	.navbar .logo-text {
		color: #ffffff;
		font-weight: 700;
		font-size: 1.875rem;
		line-height: 1rem;
		text-decoration: none;
		display: inline;
		letter-spacing: 3px;
	}

	.btn-main {
		display: inline-block;
		padding: 15px 55px;
		border: 1px solid #1E84EC;
		border-radius: 40px;
		background-color: #1E84EC;
		color: #ffffff;
		font-weight: 600;
		font-size: 18px;
		text-decoration: none;
		transition: all 0.2s;
	}

	/* Header */
	.header {
		padding: 250px 0;
	}

	/* about */
	.about .text-container {
		margin-top: 0;
		text-align: left;
	}

	.skills {
		text-align: left;
	}

	.skills li {
		list-style:circle;
	}

	.projects {
		text-align: left;
	}

}


/* Min-width 992px */
@media (min-width: 992px) {

	.header {
		background-attachment: fixed;
	}

	.header .h1-large {
		font-size: 52px;
		color: #ffffff;
	}

	.header .text-container {
		padding-left: 0;
		padding-right: 0;
	}

	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-top: 0.5rem;
		background-color: #24262a;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	/* Header */
	.header {
		text-align: left;
	}

	.contact-info {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.contact-info a {
		font-weight: 600;
		margin: auto 8px;
		color: #1E84EC;
	}

}